{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-06-26",
    "endpointPrefix":"forecast",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceFullName":"Amazon Forecast Service",
    "serviceId":"forecast",
    "signatureVersion":"v4",
    "signingName":"forecast",
    "targetPrefix":"AmazonForecast",
    "uid":"forecast-2018-06-26"
  },
  "operations":{
    "CreateDataset":{
      "name":"CreateDataset",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDatasetRequest"},
      "output":{"shape":"CreateDatasetResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "CreateDatasetGroup":{
      "name":"CreateDatasetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDatasetGroupRequest"},
      "output":{"shape":"CreateDatasetGroupResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "CreateDatasetImportJob":{
      "name":"CreateDatasetImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDatasetImportJobRequest"},
      "output":{"shape":"CreateDatasetImportJobResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InvalidStateException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InternalServiceException"},
        {"shape":"QuotaLimitExceededException"}
      ]
    },
    "CreateForecastExportJob":{
      "name":"CreateForecastExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateForecastExportJobRequest"},
      "output":{"shape":"CreateForecastExportJobResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InternalServiceException"},
        {"shape":"QuotaLimitExceededException"}
      ]
    },
    "CreatePredictor":{
      "name":"CreatePredictor",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePredictorRequest"},
      "output":{"shape":"CreatePredictorResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InvalidStateException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"QuotaLimitExceededException"}
      ]
    },
    "DeleteDataset":{
      "name":"DeleteDataset",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDatasetRequest"},
      "output":{"shape":"DeleteDatasetResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidStateException"}
      ]
    },
    "DeleteDatasetGroup":{
      "name":"DeleteDatasetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDatasetGroupRequest"},
      "output":{"shape":"DeleteDatasetGroupResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InvalidStateException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DeleteDatasetImport":{
      "name":"DeleteDatasetImport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDatasetImportRequest"},
      "output":{"shape":"DeleteDatasetImportResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidStateException"}
      ]
    },
    "DeleteDeployedPredictor":{
      "name":"DeleteDeployedPredictor",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDeployedPredictorRequest"},
      "output":{"shape":"DeleteDeployedPredictorResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidStateException"}
      ]
    },
    "DeletePredictor":{
      "name":"DeletePredictor",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePredictorRequest"},
      "output":{"shape":"DeletePredictorResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidStateException"}
      ]
    },
    "DeployPredictor":{
      "name":"DeployPredictor",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeployPredictorRequest"},
      "output":{"shape":"DeployPredictorResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InvalidStateException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"QuotaLimitExceededException"}
      ]
    },
    "DescribeDataset":{
      "name":"DescribeDataset",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDatasetRequest"},
      "output":{"shape":"DescribeDatasetResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DescribeDatasetGroup":{
      "name":"DescribeDatasetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDatasetGroupRequest"},
      "output":{"shape":"DescribeDatasetGroupResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DescribeDatasetImportJob":{
      "name":"DescribeDatasetImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDatasetImportJobRequest"},
      "output":{"shape":"DescribeDatasetImportJobResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeDeployedPredictor":{
      "name":"DescribeDeployedPredictor",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDeployedPredictorRequest"},
      "output":{"shape":"DescribeDeployedPredictorResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeForecastExportJob":{
      "name":"DescribeForecastExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeForecastExportJobRequest"},
      "output":{"shape":"DescribeForecastExportJobResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribePredictor":{
      "name":"DescribePredictor",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePredictorRequest"},
      "output":{"shape":"DescribePredictorResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeRecipe":{
      "name":"DescribeRecipe",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRecipeRequest"},
      "output":{"shape":"DescribeRecipeResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "GetDatasetTypes":{
      "name":"GetDatasetTypes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDatasetTypesRequest"},
      "output":{"shape":"GetDatasetTypesResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetDomains":{
      "name":"GetDomains",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDomainsRequest"},
      "output":{"shape":"GetDomainsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetSchema":{
      "name":"GetSchema",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSchemaRequest"},
      "output":{"shape":"GetSchemaResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListDatasetGroups":{
      "name":"ListDatasetGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDatasetGroupsRequest"},
      "output":{"shape":"ListDatasetGroupsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListDatasetImportJobs":{
      "name":"ListDatasetImportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDatasetImportJobsRequest"},
      "output":{"shape":"ListDatasetImportJobsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListDatasets":{
      "name":"ListDatasets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDatasetsRequest"},
      "output":{"shape":"ListDatasetsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListDeployedPredictors":{
      "name":"ListDeployedPredictors",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDeployedPredictorsRequest"},
      "output":{"shape":"ListDeployedPredictorsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListForecastExportJobs":{
      "name":"ListForecastExportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListForecastExportJobsRequest"},
      "output":{"shape":"ListForecastExportJobsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListForecasts":{
      "name":"ListForecasts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListForecastsRequest"},
      "output":{"shape":"ListForecastsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListPredictorVersions":{
      "name":"ListPredictorVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPredictorVersionsRequest"},
      "output":{"shape":"ListPredictorVersionsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListPredictors":{
      "name":"ListPredictors",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPredictorsRequest"},
      "output":{"shape":"ListPredictorsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListRecipes":{
      "name":"ListRecipes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListRecipesRequest"},
      "output":{"shape":"ListRecipesResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "RetrainPredictor":{
      "name":"RetrainPredictor",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RetrainPredictorRequest"},
      "output":{"shape":"RetrainPredictorResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidStateException"},
        {"shape":"QuotaLimitExceededException"}
      ]
    },
    "UpdateDatasetGroup":{
      "name":"UpdateDatasetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDatasetGroupRequest"},
      "output":{"shape":"UpdateDatasetGroupResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidStateException"}
      ]
    },
    "UpdateDatasetImportJob":{
      "name":"UpdateDatasetImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDatasetImportJobRequest"},
      "output":{"shape":"UpdateDatasetImportJobResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidStateException"}
      ]
    },
    "UpdatePredictor":{
      "name":"UpdatePredictor",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePredictorRequest"},
      "output":{"shape":"UpdatePredictorResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidStateException"},
        {"shape":"QuotaLimitExceededException"}
      ]
    }
  },
  "shapes":{
    "AggregationMethod":{
      "type":"string",
      "enum":[
        "sum",
        "avg",
        "min",
        "max"
      ]
    },
    "Arn":{
      "type":"string",
      "max":256,
      "pattern":"^[a-zA-Z0-9\\-\\_\\.\\/\\:]+$"
    },
    "AttributeType":{
      "type":"string",
      "enum":[
        "string",
        "integer",
        "float",
        "timestamp"
      ]
    },
    "BackFillMethod":{
      "type":"string",
      "enum":[
        "nan",
        "zero",
        "previous",
        "value",
        "none"
      ]
    },
    "Boolean":{
      "type":"string",
      "enum":[
        "Y",
        "N"
      ]
    },
    "Bucket":{
      "type":"string",
      "max":256,
      "pattern":"^[a-zA-Z0-9\\-\\_\\.\\/]+$"
    },
    "CanonicalSchemaAttribute":{
      "type":"structure",
      "members":{
        "Attribute":{"shape":"SchemaAttribute"},
        "Required":{"shape":"Boolean"}
      }
    },
    "CanonicalSchemaAttributes":{
      "type":"list",
      "member":{"shape":"CanonicalSchemaAttribute"}
    },
    "CategoricalParameterRange":{
      "type":"structure",
      "members":{
        "Name":{"shape":"String"},
        "Values":{"shape":"Values"}
      }
    },
    "CategoricalParameterRanges":{
      "type":"list",
      "member":{"shape":"CategoricalParameterRange"}
    },
    "CommonParameterRange":{
      "type":"structure",
      "members":{
        "Name":{"shape":"String"},
        "MaxValue":{"shape":"String"},
        "MinValue":{"shape":"String"}
      }
    },
    "CommonParameterRanges":{
      "type":"list",
      "member":{"shape":"CommonParameterRange"}
    },
    "CreateDatasetGroupRequest":{
      "type":"structure",
      "required":[
        "DatasetGroupName",
        "RoleArn"
      ],
      "members":{
        "DatasetGroupName":{"shape":"String"},
        "RoleArn":{"shape":"Arn"},
        "KMSKeyArn":{"shape":"Arn"},
        "DatasetNames":{"shape":"StringList"}
      }
    },
    "CreateDatasetGroupResponse":{
      "type":"structure",
      "members":{
        "DatasetGroupName":{"shape":"String"},
        "DatasetGroupArn":{"shape":"Arn"}
      }
    },
    "CreateDatasetImportJobRequest":{
      "type":"structure",
      "required":[
        "DatasetGroupName",
        "DatasetName",
        "S3Uri",
        "Delimiter"
      ],
      "members":{
        "DatasetGroupName":{"shape":"String"},
        "DatasetName":{"shape":"String"},
        "S3Uri":{"shape":"S3Uri"},
        "Delimiter":{"shape":"Delimiter"},
        "ScheduleExpression":{"shape":"CronString"}
      }
    },
    "CreateDatasetImportJobResponse":{
      "type":"structure",
      "members":{
        "DatasetName":{"shape":"String"},
        "VersionId":{"shape":"String"},
        "DatasetArn":{"shape":"Arn"}
      }
    },
    "CreateDatasetRequest":{
      "type":"structure",
      "required":[
        "Domain",
        "DatasetType",
        "DataFormat",
        "DatasetName"
      ],
      "members":{
        "Domain":{"shape":"Domain"},
        "DatasetType":{"shape":"DatasetType"},
        "DataFormat":{"shape":"DataFormat"},
        "DatasetName":{"shape":"String"},
        "DataFrequency":{"shape":"String"},
        "TimeStampFormat":{"shape":"TimeStampString"},
        "Schema":{"shape":"Schema"}
      }
    },
    "CreateDatasetResponse":{
      "type":"structure",
      "members":{
        "DatasetName":{"shape":"String"},
        "DatasetArn":{"shape":"Arn"}
      }
    },
    "CreateForecastExportJobRequest":{
      "type":"structure",
      "required":[
        "ForecastId",
        "OutputPath"
      ],
      "members":{
        "ForecastId":{"shape":"String"},
        "OutputPath":{"shape":"S3DataSource"}
      }
    },
    "CreateForecastExportJobResponse":{
      "type":"structure",
      "members":{
        "ForecastExportJobId":{"shape":"String"},
        "ForecastExportArn":{"shape":"Arn"}
      }
    },
    "CreatePredictorRequest":{
      "type":"structure",
      "required":[
        "PredictorName",
        "DatasetGroupName",
        "ForecastHorizon"
      ],
      "members":{
        "PredictorName":{"shape":"String"},
        "RecipeName":{"shape":"String"},
        "DatasetGroupName":{"shape":"String"},
        "ForecastHorizon":{"shape":"Integer"},
        "TrainingParameters":{"shape":"TrainingParameters"},
        "PerformHPO":{"shape":"Boolean"},
        "HPOConfig":{"shape":"HyperParameterTuningJobConfig"},
        "PerformAutoML":{"shape":"Boolean"},
        "ForecastParameters":{"shape":"ForecastParameters"},
        "RecipeParameters":{"shape":"RecipeParameters"},
        "ScheduleExpression":{"shape":"CronString"}
      }
    },
    "CreatePredictorResponse":{
      "type":"structure",
      "members":{
        "PredictorName":{"shape":"String"},
        "VersionId":{"shape":"String"},
        "PredictorArn":{"shape":"Arn"}
      }
    },
    "CronString":{
      "type":"string",
      "max":256,
      "pattern":"^[a-zA-Z0-9\\_\\*\\?\\,\\|\\^\\-\\/\\#\\s\\(\\)\\+]+$"
    },
    "DataFormat":{
      "type":"string",
      "enum":["CSV"]
    },
    "DatasetImportJobsResponseItem":{
      "type":"structure",
      "members":{
        "DatasetName":{"shape":"String"},
        "VersionId":{"shape":"String"}
      }
    },
    "DatasetImportJobsResponseItemList":{
      "type":"list",
      "member":{"shape":"DatasetImportJobsResponseItem"}
    },
    "DatasetType":{
      "type":"string",
      "enum":[
        "TARGET_TIME_SERIES",
        "RELATED_TIME_SERIES",
        "ITEM_METADATA"
      ]
    },
    "DatasetTypes":{
      "type":"list",
      "member":{"shape":"DatasetType"}
    },
    "DatasetTypesMap":{
      "type":"map",
      "key":{"shape":"Domain"},
      "value":{"shape":"DatasetTypes"}
    },
    "DeleteDatasetGroupRequest":{
      "type":"structure",
      "required":["DatasetGroupName"],
      "members":{
        "DatasetGroupName":{"shape":"String"}
      }
    },
    "DeleteDatasetGroupResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteDatasetImportRequest":{
      "type":"structure",
      "required":["DatasetName"],
      "members":{
        "DatasetName":{"shape":"String"},
        "VersionId":{"shape":"String"}
      }
    },
    "DeleteDatasetImportResponse":{
      "type":"structure",
      "members":{
        "DatasetName":{"shape":"String"},
        "VersionId":{"shape":"String"}
      }
    },
    "DeleteDatasetRequest":{
      "type":"structure",
      "required":["DatasetName"],
      "members":{
        "DatasetName":{"shape":"String"}
      }
    },
    "DeleteDatasetResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteDeployedPredictorRequest":{
      "type":"structure",
      "required":["PredictorName"],
      "members":{
        "PredictorName":{"shape":"String"}
      }
    },
    "DeleteDeployedPredictorResponse":{
      "type":"structure",
      "members":{
        "PredictorName":{"shape":"String"}
      }
    },
    "DeletePredictorRequest":{
      "type":"structure",
      "required":["PredictorName"],
      "members":{
        "PredictorName":{"shape":"String"},
        "VersionId":{"shape":"String"}
      }
    },
    "DeletePredictorResponse":{
      "type":"structure",
      "members":{
        "PredictorName":{"shape":"String"},
        "VersionId":{"shape":"String"}
      }
    },
    "Delimiter":{
      "type":"string",
      "max":256,
      "pattern":"^[a-zA-Z0-9\\_\\*\\?\\,\\|\\^\\-\\/\\#\\s\\(\\)\\+\\\\\\\\]+$"
    },
    "DeployPredictorRequest":{
      "type":"structure",
      "required":["PredictorName"],
      "members":{
        "PredictorName":{"shape":"String"},
        "VersionId":{"shape":"String"},
        "ScheduleExpression":{"shape":"CronString"},
        "TargetCacheOffset":{"shape":"Integer"}
      }
    },
    "DeployPredictorResponse":{
      "type":"structure",
      "members":{
        "PredictorName":{"shape":"String"},
        "VersionId":{"shape":"String"},
        "PredictorArn":{"shape":"Arn"}
      }
    },
    "DescribeDatasetGroupRequest":{
      "type":"structure",
      "required":["DatasetGroupName"],
      "members":{
        "DatasetGroupName":{"shape":"String"},
        "MaxResults":{"shape":"MaxResults"},
        "NextToken":{"shape":"String"}
      }
    },
    "DescribeDatasetGroupResponse":{
      "type":"structure",
      "members":{
        "DatasetGroupName":{"shape":"String"},
        "DatasetGroupArn":{"shape":"Arn"},
        "Datasets":{"shape":"StringList"},
        "RoleArn":{"shape":"Arn"},
        "KMSKeyArn":{"shape":"Arn"},
        "NextToken":{"shape":"String"}
      }
    },
    "DescribeDatasetImportJobRequest":{
      "type":"structure",
      "required":["DatasetName"],
      "members":{
        "DatasetName":{"shape":"String"},
        "VersionId":{"shape":"String"}
      }
    },
    "DescribeDatasetImportJobResponse":{
      "type":"structure",
      "members":{
        "DatasetArn":{"shape":"Arn"},
        "DatasetName":{"shape":"String"},
        "VersionId":{"shape":"String"},
        "Status":{"shape":"String"},
        "FieldStatistics":{"shape":"FieldStatistics"},
        "Message":{"shape":"ErrorMessage"},
        "S3Uri":{"shape":"S3Uri"},
        "Delimiter":{"shape":"Delimiter"},
        "StartTime":{"shape":"TimeStamp"},
        "LastModificationTime":{"shape":"TimeStamp"}
      }
    },
    "DescribeDatasetRequest":{
      "type":"structure",
      "required":["DatasetName"],
      "members":{
        "DatasetName":{"shape":"String"}
      }
    },
    "DescribeDatasetResponse":{
      "type":"structure",
      "members":{
        "DatasetName":{"shape":"String"},
        "DatasetType":{"shape":"DatasetType"},
        "DataFormat":{"shape":"DataFormat"},
        "DataFrequency":{"shape":"String"},
        "TimeStampFormat":{"shape":"TimeStampString"},
        "Schema":{"shape":"Schema"},
        "Domain":{"shape":"Domain"},
        "ScheduleExpression":{"shape":"CronString"},
        "DatasetArn":{"shape":"Arn"},
        "Status":{"shape":"String"}
      }
    },
    "DescribeDeployedPredictorRequest":{
      "type":"structure",
      "required":["PredictorName"],
      "members":{
        "PredictorName":{"shape":"String"}
      }
    },
    "DescribeDeployedPredictorResponse":{
      "type":"structure",
      "members":{
        "PredictorName":{"shape":"String"},
        "ScheduleExpression":{"shape":"CronString"},
        "CurrentlyDeployedVersionId":{"shape":"String"},
        "DeploymentInProgressVersionId":{"shape":"String"},
        "Status":{"shape":"String"},
        "PredictorArn":{"shape":"Arn"},
        "CompletionPercent":{"shape":"Integer"},
        "Message":{"shape":"ErrorMessage"},
        "StartTime":{"shape":"TimeStamp"},
        "LastModificationTime":{"shape":"TimeStamp"},
        "TargetCacheOffset":{"shape":"Integer"}
      }
    },
    "DescribeForecastExportJobRequest":{
      "type":"structure",
      "required":["ForecastExportJobId"],
      "members":{
        "ForecastExportJobId":{"shape":"String"}
      }
    },
    "DescribeForecastExportJobResponse":{
      "type":"structure",
      "members":{
        "ForecastId":{"shape":"String"},
        "OutputPath":{"shape":"S3DataSource"},
        "ForecastExportArn":{"shape":"Arn"},
        "Status":{"shape":"String"},
        "Message":{"shape":"ErrorMessage"},
        "StartTime":{"shape":"TimeStamp"},
        "LastModificationTime":{"shape":"TimeStamp"}
      }
    },
    "DescribePredictorRequest":{
      "type":"structure",
      "required":["PredictorName"],
      "members":{
        "PredictorName":{"shape":"String"},
        "VersionId":{"shape":"String"}
      }
    },
    "DescribePredictorResponse":{
      "type":"structure",
      "members":{
        "PredictorName":{"shape":"String"},
        "VersionId":{"shape":"String"},
        "TrainingParameters":{"shape":"TrainingParameters"},
        "ForecastParameters":{"shape":"ForecastParameters"},
        "Status":{"shape":"String"},
        "ScheduleExpression":{"shape":"CronString"},
        "StartTime":{"shape":"TimeStamp"},
        "LastModificationTime":{"shape":"TimeStamp"},
        "PredictorArn":{"shape":"Arn"},
        "RecipeName":{"shape":"String"},
        "DatasetGroup":{"shape":"String"},
        "RecipeParameters":{"shape":"RecipeParameters"},
        "CompletionPercent":{"shape":"Integer"},
        "ForecastHorizon":{"shape":"Integer"},
        "Message":{"shape":"ErrorMessage"}
      }
    },
    "DescribeRecipeRequest":{
      "type":"structure",
      "required":["RecipeName"],
      "members":{
        "RecipeName":{"shape":"String"}
      }
    },
    "DescribeRecipeResponse":{
      "type":"structure",
      "members":{
        "Recipe":{"shape":"RecipeItem"},
        "RecipeArn":{"shape":"Arn"}
      }
    },
    "Domain":{
      "type":"string",
      "enum":[
        "RETAIL",
        "CUSTOM",
        "INVENTORY_PLANNING",
        "EC2_CAPACITY",
        "WORK_FORCE",
        "WEB_TRAFFIC",
        "METRICS"
      ]
    },
    "Domains":{
      "type":"list",
      "member":{"shape":"Domain"}
    },
    "Double":{"type":"double"},
    "ErrorMessage":{"type":"string"},
    "FeatureType":{
      "type":"string",
      "enum":[
        "none",
        "time_series",
        "category",
        "label"
      ]
    },
    "FieldStatistics":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"Statistics"}
    },
    "FillMethod":{
      "type":"string",
      "enum":[
        "nan",
        "zero",
        "spline",
        "nearest",
        "next",
        "previous",
        "linear",
        "min",
        "max",
        "value"
      ]
    },
    "ForecastInfo":{
      "type":"structure",
      "members":{
        "PredictorName":{"shape":"String"},
        "VersionId":{"shape":"String"},
        "ForecastId":{"shape":"String"}
      }
    },
    "ForecastInfoList":{
      "type":"list",
      "member":{"shape":"ForecastInfo"}
    },
    "ForecastParameters":{
      "type":"map",
      "key":{"shape":"ParameterKey"},
      "value":{"shape":"ParameterValue"},
      "max":100,
      "min":0
    },
    "FrontFillMethod":{
      "type":"string",
      "enum":[
        "nan",
        "zero",
        "next",
        "value",
        "none"
      ]
    },
    "GetDatasetTypesRequest":{
      "type":"structure",
      "required":["Domains"],
      "members":{
        "Domains":{"shape":"Domains"}
      }
    },
    "GetDatasetTypesResponse":{
      "type":"structure",
      "members":{
        "DatasetTypes":{"shape":"DatasetTypesMap"}
      }
    },
    "GetDomainsRequest":{
      "type":"structure",
      "members":{
      }
    },
    "GetDomainsResponse":{
      "type":"structure",
      "members":{
        "Domains":{"shape":"Domains"}
      }
    },
    "GetSchemaRequest":{
      "type":"structure",
      "required":[
        "Domain",
        "DatasetType"
      ],
      "members":{
        "Domain":{"shape":"Domain"},
        "DatasetType":{"shape":"DatasetType"}
      }
    },
    "GetSchemaResponse":{
      "type":"structure",
      "members":{
        "Schema":{"shape":"CanonicalSchemaAttributes"}
      }
    },
    "HyperParameterTuningInfo":{
      "type":"structure",
      "members":{
        "PerformHPO":{"shape":"Boolean"},
        "HPOConfig":{"shape":"HyperParameterTuningJobConfig"}
      }
    },
    "HyperParameterTuningJobConfig":{
      "type":"structure",
      "members":{
        "HyperParameterTuningJobObjective":{"shape":"HyperParameterTuningJobObjective"},
        "ParameterRanges":{"shape":"ParameterRanges"},
        "StaticHyperParameters":{"shape":"StaticHyperParameters"},
        "ResourceLimits":{"shape":"ResourceLimits"},
        "Strategy":{"shape":"String"}
      }
    },
    "HyperParameterTuningJobObjective":{
      "type":"structure",
      "members":{
        "MetricName":{"shape":"String"},
        "Type":{"shape":"String"}
      }
    },
    "Integer":{"type":"integer"},
    "InternalServiceException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidInputException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidStateException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "ListDatasetGroupsRequest":{
      "type":"structure",
      "members":{
        "MaxResults":{"shape":"MaxResults"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListDatasetGroupsResponse":{
      "type":"structure",
      "members":{
        "DatasetGroupNames":{"shape":"StringList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListDatasetImportJobsRequest":{
      "type":"structure",
      "required":["DatasetName"],
      "members":{
        "DatasetName":{"shape":"String"},
        "MaxResults":{"shape":"MaxResults"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListDatasetImportJobsResponse":{
      "type":"structure",
      "members":{
        "DatasetImportJobs":{"shape":"DatasetImportJobsResponseItemList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListDatasetsRequest":{
      "type":"structure",
      "members":{
        "MaxResults":{"shape":"MaxResults"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListDatasetsResponse":{
      "type":"structure",
      "members":{
        "DatasetNames":{"shape":"StringList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListDeployedPredictorsRequest":{
      "type":"structure",
      "members":{
        "MaxResults":{"shape":"MaxResults"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListDeployedPredictorsResponse":{
      "type":"structure",
      "members":{
        "PredictorNames":{"shape":"StringList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListForecastExportJobsRequest":{
      "type":"structure",
      "required":["ForecastId"],
      "members":{
        "ForecastId":{"shape":"String"},
        "MaxResults":{"shape":"MaxResults"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListForecastExportJobsResponse":{
      "type":"structure",
      "members":{
        "ForecastExportJobIds":{"shape":"StringList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListForecastsRequest":{
      "type":"structure",
      "required":["PredictorName"],
      "members":{
        "PredictorName":{"shape":"String"},
        "VersionId":{"shape":"String"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "ListForecastsResponse":{
      "type":"structure",
      "members":{
        "NextToken":{"shape":"NextToken"},
        "ForecastInfoList":{"shape":"ForecastInfoList"}
      }
    },
    "ListPredictorVersionsRequest":{
      "type":"structure",
      "required":["PredictorName"],
      "members":{
        "PredictorName":{"shape":"String"},
        "MaxResults":{"shape":"MaxResults"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListPredictorVersionsResponse":{
      "type":"structure",
      "members":{
        "PredictorVersions":{"shape":"ListPredictorVersionsResponseItemList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListPredictorVersionsResponseItem":{
      "type":"structure",
      "members":{
        "PredictorName":{"shape":"String"},
        "VersionId":{"shape":"String"}
      }
    },
    "ListPredictorVersionsResponseItemList":{
      "type":"list",
      "member":{"shape":"ListPredictorVersionsResponseItem"}
    },
    "ListPredictorsRequest":{
      "type":"structure",
      "members":{
        "MaxResults":{"shape":"MaxResults"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListPredictorsResponse":{
      "type":"structure",
      "members":{
        "PredictorNames":{"shape":"StringList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListRecipesRequest":{
      "type":"structure",
      "members":{
        "MaxResults":{"shape":"MaxResults"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListRecipesResponse":{
      "type":"structure",
      "members":{
        "RecipeNames":{"shape":"StringList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "MaxResults":{
      "type":"integer",
      "max":100,
      "min":0
    },
    "MetricsBuckets":{
      "type":"list",
      "member":{"shape":"Bucket"}
    },
    "NextToken":{
      "type":"string",
      "max":3000,
      "min":1
    },
    "ParameterKey":{
      "type":"string",
      "max":256,
      "pattern":"^[a-zA-Z0-9\\-\\_\\.\\/\\[\\]\\,\\\\]+$"
    },
    "ParameterRanges":{
      "type":"structure",
      "members":{
        "CategoricalParameterRanges":{"shape":"CategoricalParameterRanges"},
        "ContinuousParameterRanges":{"shape":"CommonParameterRanges"},
        "IntegerParameterRanges":{"shape":"CommonParameterRanges"}
      }
    },
    "ParameterValue":{
      "type":"string",
      "max":256,
      "pattern":"^[a-zA-Z0-9\\-\\_\\.\\/\\[\\]\\,\\\"\\\\\\s]+$"
    },
    "QuotaLimitExceededException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "RecipeItem":{
      "type":"structure",
      "members":{
        "Name":{"shape":"String"},
        "Train":{"shape":"TrainingItemList"}
      }
    },
    "RecipeParameters":{
      "type":"structure",
      "members":{
        "BackTestWindowCount":{"shape":"Integer"},
        "BackTestWindowOffset":{"shape":"Integer"},
        "MetricsBuckets":{"shape":"MetricsBuckets"},
        "GroupByForecastKeys":{"shape":"StringList"},
        "DefaultTrainingSubsampleRatio":{"shape":"Double"},
        "HolidayCalendarName":{"shape":"String"}
      }
    },
    "ResourceAlreadyExistsException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "ResourceLimits":{
      "type":"structure",
      "members":{
        "MaxNumberOfTrainingJobs":{"shape":"Integer"},
        "MaxParallelTrainingJobs":{"shape":"Integer"}
      }
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "RetrainPredictorRequest":{
      "type":"structure",
      "required":["PredictorName"],
      "members":{
        "PredictorName":{"shape":"String"}
      }
    },
    "RetrainPredictorResponse":{
      "type":"structure",
      "members":{
        "PredictorName":{"shape":"String"},
        "VersionId":{"shape":"String"},
        "PredictorArn":{"shape":"Arn"}
      }
    },
    "S3DataSource":{
      "type":"structure",
      "members":{
        "S3Uri":{"shape":"S3Uri"},
        "RoleArn":{"shape":"Arn"}
      }
    },
    "S3Uri":{
      "type":"string",
      "max":1024,
      "pattern":"^[a-zA-Z0-9\\-\\_\\.\\/\\:]+$"
    },
    "Schema":{
      "type":"structure",
      "members":{
        "Attributes":{"shape":"SchemaAttributes"}
      }
    },
    "SchemaAttribute":{
      "type":"structure",
      "members":{
        "AttributeName":{"shape":"String"},
        "AttributeType":{"shape":"AttributeType"},
        "AggregationMethod":{"shape":"AggregationMethod"},
        "FillMethod":{"shape":"FillMethod"},
        "FrontFillMethod":{"shape":"FrontFillMethod"},
        "BackFillMethod":{"shape":"BackFillMethod"},
        "FillValue":{"shape":"String"},
        "FeatureType":{"shape":"FeatureType"}
      }
    },
    "SchemaAttributes":{
      "type":"list",
      "member":{"shape":"SchemaAttribute"}
    },
    "StaticHyperParameters":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "Statistics":{
      "type":"structure",
      "members":{
        "Count":{"shape":"Integer"},
        "CountDistinct":{"shape":"Integer"},
        "CountNull":{"shape":"Integer"},
        "CountNan":{"shape":"Integer"},
        "Min":{"shape":"String"},
        "Max":{"shape":"String"},
        "Avg":{"shape":"Double"},
        "Stddev":{"shape":"Double"}
      }
    },
    "String":{
      "type":"string",
      "max":256,
      "pattern":"^[a-zA-Z0-9\\_]+$"
    },
    "StringList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "TimeStamp":{"type":"timestamp"},
    "TimeStampString":{
      "type":"string",
      "max":256,
      "pattern":"^[a-zA-Z0-9\\-\\:\\.\\,\\'\\s]+$"
    },
    "TrainingInfo":{
      "type":"structure",
      "members":{
        "TrainedModelName":{"shape":"String"},
        "AlgorithmName":{"shape":"String"},
        "TrainingParameters":{"shape":"TrainingParameters"},
        "HPOInfo":{"shape":"HyperParameterTuningInfo"},
        "TrainingDataWindowBeginDate":{"shape":"String"},
        "TrainingDataWindowEndDate":{"shape":"String"},
        "ForceNew":{"shape":"Boolean"}
      }
    },
    "TrainingItem":{
      "type":"structure",
      "members":{
        "TrainingInfo":{"shape":"TrainingInfo"},
        "BackTestWindowCount":{"shape":"Integer"},
        "BackTestWindowOffset":{"shape":"Integer"},
        "MetricsBuckets":{"shape":"MetricsBuckets"}
      }
    },
    "TrainingItemList":{
      "type":"list",
      "member":{"shape":"TrainingItem"}
    },
    "TrainingParameters":{
      "type":"map",
      "key":{"shape":"ParameterKey"},
      "value":{"shape":"ParameterValue"},
      "max":100,
      "min":0
    },
    "UpdateDatasetGroupRequest":{
      "type":"structure",
      "required":[
        "DatasetGroupName",
        "DatasetNames"
      ],
      "members":{
        "DatasetGroupName":{"shape":"String"},
        "DatasetNames":{"shape":"StringList"}
      }
    },
    "UpdateDatasetGroupResponse":{
      "type":"structure",
      "members":{
        "DatasetGroupName":{"shape":"String"},
        "DatasetGroupArn":{"shape":"Arn"}
      }
    },
    "UpdateDatasetImportJobRequest":{
      "type":"structure",
      "required":[
        "DatasetName",
        "ScheduleExpression"
      ],
      "members":{
        "DatasetName":{"shape":"String"},
        "ScheduleExpression":{"shape":"CronString"}
      }
    },
    "UpdateDatasetImportJobResponse":{
      "type":"structure",
      "members":{
        "DatasetName":{"shape":"String"},
        "VersionId":{"shape":"String"},
        "DatasetArn":{"shape":"Arn"}
      }
    },
    "UpdatePredictorRequest":{
      "type":"structure",
      "required":["PredictorName"],
      "members":{
        "PredictorName":{"shape":"String"},
        "TrainingParameters":{"shape":"TrainingParameters"},
        "ForecastParameters":{"shape":"ForecastParameters"},
        "RecipeParameters":{"shape":"RecipeParameters"},
        "ScheduleExpression":{"shape":"CronString"},
        "ForecastHorizon":{"shape":"Integer"}
      }
    },
    "UpdatePredictorResponse":{
      "type":"structure",
      "members":{
        "PredictorName":{"shape":"String"},
        "VersionId":{"shape":"String"},
        "PredictorArn":{"shape":"Arn"}
      }
    },
    "Values":{
      "type":"list",
      "member":{"shape":"String"}
    }
  }
}
