{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-06-26",
    "endpointPrefix":"forecast",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceFullName":"Amazon Forecast Service",
    "serviceId":"forecast",
    "signatureVersion":"v4",
    "signingName":"forecast",
    "targetPrefix":"AmazonForecast",
    "uid":"forecast-2018-06-26"
  },
  "operations":{
    "CreateDataset":{
      "name":"CreateDataset",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDatasetRequest"},
      "output":{"shape":"CreateDatasetResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates an Amazon Forecast dataset. The information about the dataset that you provide helps Forecast understand how to consume the data for model training. This includes the following:</p> <ul> <li> <p> <i> <code>DataFormat</code> </i> - The format of the data that you plan to import to the dataset. </p> </li> <li> <p> <i> <code>DataFrequency</code> </i> - How frequently your historical time-series data is collected, including the interval and the multiple of the interval (for example 3H, for every 3 hours). Amazon Forecast uses this information when training the model and generating forecasts. </p> </li> <li> <p> <i> <code>Domain</code> </i> and <i> <code>DatasetType</code> </i> - Each dataset has an associated dataset domain and a type within the domain. Amazon Forecast provides a list of predefined domains and types within each domain. For each unique dataset domain and type within the domain, Amazon Forecast requires your data to include a minimum set of predefined fields. You identify the domain and type when you create a dataset. </p> </li> <li> <p> <i> <code>Schema</code> </i> - Specify a schema only if your data doesn't include headers or if you want to customize the configuration of the schema attribute parameters. </p> </li> </ul> <p>After creating a dataset, you import your training data into the dataset and use the dataset for model training. For more information see <a>howitworks-datasets-groups</a>. </p>"
    },
    "CreateDatasetGroup":{
      "name":"CreateDatasetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDatasetGroupRequest"},
      "output":{"shape":"CreateDatasetGroupResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a dataset group. You can add datasets when you create a dataset group, or you can add them later with the <a>UpdateDatasetGroup</a>. </p> <p> For more information about datasets and dataset groups, see <a>howitworks-datasets-groups</a>.</p>"
    },
    "CreateDatasetImportJob":{
      "name":"CreateDatasetImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDatasetImportJobRequest"},
      "output":{"shape":"CreateDatasetImportJobResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Imports your training data to an Amazon Forecast dataset. In the request, you provide the location of the Amazon Simple Storage Service (Amazon S3) bucket that contains your training data and the name of the Amazon Forecast dataset that you want to import the data to.</p> <p>When Amazon Forecast uploads your training data, it verifies that the data was collected at the <code>DataFrequency</code> specified when the target dataset was created. For more information, see <a>CreateDataset</a>.</p> <p>A dataset can contain multiple versions of training data. To import an updated version of your data, you can explicitly call the <code>CreateDatasetImportJob</code> operation or schedule imports by specifying a <code>ScheduleExpression</code> in the <code>CreateDatasetImportJob</code> request. Each import operation results in a new dataset version. After creating the import job, you can add, update, or cancel the schedule with the <a>UpdateDatasetImportJob</a> operation.</p> <p>You can delete a specific dataset version using the <a>DeleteDatasetImport</a> operation or all versions using the <a>DeleteDataset</a> operation.</p> <p>To get the status of a dataset import job, use the <a>DescribeDatasetImportJob</a> operation. For more information about using datasets, see <a>howitworks-dataset</a>.</p>"
    },
    "CreateForecast":{
      "name":"CreateForecast",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateForecastRequest"},
      "output":{"shape":"CreateForecastResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"LimitExceededException"}
      ]
    },
    "CreateForecastExportJob":{
      "name":"CreateForecastExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateForecastExportJobRequest"},
      "output":{"shape":"CreateForecastExportJobResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a forecast export job. Deploying an Amazon Forecast predictor (with the <code>DeployPredictor</code> operation) creates a forecast. To copy the forecast to a specified location, use the <code>CreateForecastExportJob</code> operation. </p> <p>Exporting a forecast lets you process it on the client side. For example, you might ingest a forecast to an Amazon Redshift database for further processing. </p>"
    },
    "CreatePredictor":{
      "name":"CreatePredictor",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePredictorRequest"},
      "output":{"shape":"CreatePredictorResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates an Amazon Forecast predictor.</p> <p>In the request, you provide a dataset group and either specify a recipe or let Amazon Forecast choose the recipe for you. The operation uses the algorithm described in the recipe to train a model using the latest version of the datasets in the specified dataset group. The result is called a predictor. In the response, the operation returns a predictor version ID. You can deploy the predictor to generate a forecast using the <a>DeployPredictor</a> operation.</p> <p>In the <code>CreatePredictor</code> request, you can also do the following:</p> <ul> <li> <p>Override algorithm-specific hyperparameters</p> </li> <li> <p>Specify a schedule for automatically retraining models</p> </li> <li> <p>Specify a holiday calendar for various countries</p> </li> </ul> <p>To modify these values later, use the <a>UpdatePredictor</a> operation. </p> <p>After creating a predictor, you can retrain the model and create a new version of the predictor with the <a>RetrainPredictor</a> operation. </p> <p>After training a model, the <code>CreatePredictor</code> operation also evaluates it. To see the evaluation metrics, use the operation. Always review the evaluation metrics before deciding to use the predictor to generate forecasts. </p> <p>For more information about creating and deploying Amazon Forecast predictors, see <a>howitworks-predictor</a>.</p>"
    },
    "DeleteDataset":{
      "name":"DeleteDataset",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDatasetRequest"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Deletes an Amazon Forecast dataset. </p> <p>Deleting an Amazon Forecast dataset deletes all versions of the dataset. All dataset import jobs that target the dataset are also deleted.</p> <p>Datasets used in active predictors cannot be deleted.</p>",
      "idempotent":true
    },
    "DeleteDatasetGroup":{
      "name":"DeleteDatasetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDatasetGroupRequest"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Deletes a dataset group. The operation deletes only the group, not the datasets. </p>",
      "idempotent":true
    },
    "DeleteDatasetImportJob":{
      "name":"DeleteDatasetImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDatasetImportJobRequest"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"}
      ],
      "idempotent":true
    },
    "DeleteForecast":{
      "name":"DeleteForecast",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteForecastRequest"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"}
      ],
      "idempotent":true
    },
    "DeleteForecastExportJob":{
      "name":"DeleteForecastExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteForecastExportJobRequest"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"}
      ],
      "idempotent":true
    },
    "DeletePredictor":{
      "name":"DeletePredictor",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePredictorRequest"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Deletes a specific version of a predictor. If you don't specify a version, the <code>DeletePredictor</code> operation deletes all versions of the predictor. </p>",
      "idempotent":true
    },
    "DescribeDataset":{
      "name":"DescribeDataset",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDatasetRequest"},
      "output":{"shape":"DescribeDatasetResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns metadata for an Amazon Forecast dataset created using the <a>CreateDataset</a> operation. </p> <p/>",
      "idempotent":true
    },
    "DescribeDatasetGroup":{
      "name":"DescribeDatasetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDatasetGroupRequest"},
      "output":{"shape":"DescribeDatasetGroupResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about a dataset group, including a list of datasets in the group. </p>",
      "idempotent":true
    },
    "DescribeDatasetImportJob":{
      "name":"DescribeDatasetImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDatasetImportJobRequest"},
      "output":{"shape":"DescribeDatasetImportJobResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about a job that you created using the <a>CreateDatasetImportJob</a> operation to import training data to your Amazon Forecast dataset. It includes statistical information about each field in the input data.</p> <p>For information about a specific data import job, specify both the dataset name and the version ID. If you don't provide a version ID, the operation uses the latest version ID.</p>",
      "idempotent":true
    },
    "DescribeForecast":{
      "name":"DescribeForecast",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeForecastRequest"},
      "output":{"shape":"DescribeForecastResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "idempotent":true
    },
    "DescribeForecastExportJob":{
      "name":"DescribeForecastExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeForecastExportJobRequest"},
      "output":{"shape":"DescribeForecastExportJobResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns the status of a forecast export job that was created with the <code>CreateForecastExportJob</code> operation. </p>",
      "idempotent":true
    },
    "DescribePredictor":{
      "name":"DescribePredictor",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePredictorRequest"},
      "output":{"shape":"DescribePredictorResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about a predictor that you created using the <a>CreatePredictor</a> operation.</p> <p>For information about a specific predictor, specify both the predictor name and the version ID. If you don't provide a version ID, the operation uses the latest version ID.</p>",
      "idempotent":true
    },
    "GetAccuracyMetrics":{
      "name":"GetAccuracyMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAccuracyMetricsRequest"},
      "output":{"shape":"GetAccuracyMetricsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "idempotent":true
    },
    "ListDatasetGroups":{
      "name":"ListDatasetGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDatasetGroupsRequest"},
      "output":{"shape":"ListDatasetGroupsResponse"},
      "errors":[
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Returns a list of dataset group names. </p>",
      "idempotent":true
    },
    "ListDatasetImportJobs":{
      "name":"ListDatasetImportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDatasetImportJobsRequest"},
      "output":{"shape":"ListDatasetImportJobsResponse"},
      "errors":[
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Returns a list of dataset import jobs for the specified dataset. You create an import job using the <a>CreateDatasetImportJob</a> operation.</p>",
      "idempotent":true
    },
    "ListDatasets":{
      "name":"ListDatasets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDatasetsRequest"},
      "output":{"shape":"ListDatasetsResponse"},
      "errors":[
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Returns a list of datasets.</p>",
      "idempotent":true
    },
    "ListForecastExportJobs":{
      "name":"ListForecastExportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListForecastExportJobsRequest"},
      "output":{"shape":"ListForecastExportJobsResponse"},
      "errors":[
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Returns a list of forecast export job IDs for the specified forecast. You create a forecast export job with the <code>CreateForecastExportJob</code> operation. </p>",
      "idempotent":true
    },
    "ListForecasts":{
      "name":"ListForecasts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListForecastsRequest"},
      "output":{"shape":"ListForecastsResponse"},
      "errors":[
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Returns a list of forecasts generated with the <a>DeployPredictor</a> operation. </p>",
      "idempotent":true
    },
    "ListPredictors":{
      "name":"ListPredictors",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPredictorsRequest"},
      "output":{"shape":"ListPredictorsResponse"},
      "errors":[
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Returns a list of the names of the predictors in your AWS account. </p>",
      "idempotent":true
    },
    "UpdateDatasetGroup":{
      "name":"UpdateDatasetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDatasetGroupRequest"},
      "output":{"shape":"UpdateDatasetGroupResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Removes existing datasets, if there are any, from the dataset group, and adds the datasets that you specify in the <code>UpdateDatasetGroup</code> request. </p>",
      "idempotent":true
    }
  },
  "shapes":{
    "Arn":{
      "type":"string",
      "max":256,
      "pattern":"^[a-zA-Z0-9\\-\\_\\.\\/\\:]+$"
    },
    "ArnList":{
      "type":"list",
      "member":{"shape":"Arn"}
    },
    "AttributeType":{
      "type":"string",
      "enum":[
        "string",
        "integer",
        "float",
        "timestamp"
      ]
    },
    "Boolean":{"type":"boolean"},
    "CategoricalParameterRange":{
      "type":"structure",
      "required":[
        "Name",
        "Values"
      ],
      "members":{
        "Name":{
          "shape":"Name",
          "documentation":"<p>The name of the categorical hyperparameter to tune.</p>"
        },
        "Values":{
          "shape":"Values",
          "documentation":"<p>A list of the categories for the hyperparameter.</p>"
        }
      },
      "documentation":"<p> Provides a list of categorical hyperparameters to tune. </p>"
    },
    "CategoricalParameterRanges":{
      "type":"list",
      "member":{"shape":"CategoricalParameterRange"},
      "max":20,
      "min":1
    },
    "ContinuousParameterRange":{
      "type":"structure",
      "required":[
        "Name",
        "MaxValue",
        "MinValue"
      ],
      "members":{
        "Name":{"shape":"Name"},
        "MaxValue":{"shape":"Double"},
        "MinValue":{"shape":"Double"}
      }
    },
    "ContinuousParameterRanges":{
      "type":"list",
      "member":{"shape":"ContinuousParameterRange"},
      "max":20,
      "min":1
    },
    "CreateDatasetGroupRequest":{
      "type":"structure",
      "required":["DatasetGroupName"],
      "members":{
        "DatasetGroupName":{
          "shape":"Name",
          "documentation":"<p>A name for the dataset group.</p>"
        },
        "DatasetArns":{"shape":"ArnList"}
      }
    },
    "CreateDatasetGroupResponse":{
      "type":"structure",
      "members":{
        "DatasetGroupArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the dataset group.</p>"
        }
      }
    },
    "CreateDatasetImportJobRequest":{
      "type":"structure",
      "required":[
        "DatasetImportJobName",
        "DatasetArn",
        "DataSource"
      ],
      "members":{
        "DatasetImportJobName":{"shape":"Name"},
        "DatasetArn":{"shape":"Arn"},
        "DataSource":{"shape":"DataSource"},
        "TimestampFormat":{"shape":"TimestampFormat"}
      }
    },
    "CreateDatasetImportJobResponse":{
      "type":"structure",
      "members":{
        "DatasetImportJobArn":{"shape":"Arn"}
      }
    },
    "CreateDatasetRequest":{
      "type":"structure",
      "required":[
        "DatasetName",
        "Domain",
        "DatasetType",
        "Schema"
      ],
      "members":{
        "DatasetName":{
          "shape":"Name",
          "documentation":"<p>A name for the dataset. </p>"
        },
        "Domain":{
          "shape":"Domain",
          "documentation":"<p>The domain associated with the dataset. The <code>Domain</code> and <code>DatasetType</code> that you choose determine the fields that must be present in the training data that you import to the dataset. For example, if you choose the <code>RETAIL</code> domain and the <code>TARGET_TIME_SERIES</code> as the <code>DatasetType</code>, Amazon Forecast requires <code>item_id</code>, <code>timestamp</code>, and <code>demand</code> fields to be present in your data. For more information, see <a>howitworks-datasets-groups</a>. </p>"
        },
        "DatasetType":{
          "shape":"DatasetType",
          "documentation":"<p>The type of dataset that you want to use. Valid types depend on the <code>Domain</code> that you choose. </p>"
        },
        "DataFrequency":{
          "shape":"Frequency",
          "documentation":"<p>The frequency of data collection.</p> <p>Specify the frequency as a number and interval combination. Valid interval are M (Month), W (Week), D (Day), H (Hour), and min (Minute). For example, \"5D\" indicates every 5 days and \"15min\" indicates every 15 minutes.</p>"
        },
        "Schema":{
          "shape":"Schema",
          "documentation":"<p>The schema for the dataset. The dataset <code>Domain</code> and <code>DatasetType</code> that you choose determine the minimum required fields in your training data. Your schema must include the minimum required fields for the <code>Domain</code> and <code>DatasetType</code> that you choose. The order of the schema elements must match the order of the fields in your data. For information about required fields for a specific dataset domain and type, see <a>howitworks-domains-ds-types</a>.</p> <p> <code>Schema</code> is optional. You can include headers in your data or define a schema that includes the required fields. Your data can also include additional fields. </p> <p>If you choose to <i>not</i> specify a schema, your data must include headers that include the required fields for the domain and dataset type that you choose. </p> <p>If you specify a schema and your data includes headers, then the schema takes precedence. Amazon Forecast ignores the headers in your data. </p>"
        },
        "EncryptionConfig":{"shape":"EncryptionConfig"}
      }
    },
    "CreateDatasetResponse":{
      "type":"structure",
      "members":{
        "DatasetArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the dataset. </p>"
        }
      }
    },
    "CreateForecastExportJobRequest":{
      "type":"structure",
      "required":[
        "ForecastExportJobName",
        "ForecastArn",
        "Destination"
      ],
      "members":{
        "ForecastExportJobName":{"shape":"Name"},
        "ForecastArn":{"shape":"Arn"},
        "Destination":{"shape":"DataDestination"}
      }
    },
    "CreateForecastExportJobResponse":{
      "type":"structure",
      "members":{
        "ForecastExportJobArn":{"shape":"Arn"}
      }
    },
    "CreateForecastRequest":{
      "type":"structure",
      "required":[
        "ForecastName",
        "PredictorArn"
      ],
      "members":{
        "ForecastName":{"shape":"Name"},
        "PredictorArn":{"shape":"Arn"}
      }
    },
    "CreateForecastResponse":{
      "type":"structure",
      "members":{
        "ForecastArn":{"shape":"Arn"}
      }
    },
    "CreatePredictorRequest":{
      "type":"structure",
      "required":[
        "PredictorName",
        "ForecastHorizon",
        "InputDataConfig",
        "FeaturizationConfig"
      ],
      "members":{
        "PredictorName":{
          "shape":"Name",
          "documentation":"<p>A name for the new predictor. </p>"
        },
        "AlgorithmArn":{"shape":"Arn"},
        "ForecastHorizon":{
          "shape":"Integer",
          "documentation":"<p>Specifies the number of forecasts to make. The forecast horizon is also called the prediction length.</p> <p>For example, if you configure a dataset for daily data collection (using the <code>DataFrequency</code> parameter of the <a>CreateDataset</a> operation) and set the forecast horizon to 10, the model returns forecasts for 10 days.</p>"
        },
        "PerformAutoML":{
          "shape":"Boolean",
          "documentation":"<p>The default value is <code>N</code>. You are required to choose a recipe.</p> <p>If you want Amazon Forecast to evaluate the recipes it provides (not custom recipes) and choose the best recipe and configuration for your training dataset, set <code>PerformAutoML</code> to <code>Y</code>. This is a good option if you aren't sure which recipe is suitable for your application.</p>"
        },
        "PerformHPO":{
          "shape":"Boolean",
          "documentation":"<p>Whether to perform hyperparameter optimization. The default value is <code>Y</code>.</p> <p>A hyperparameter tuning job finds optimal hyperparameter values for your training data. If you specify <code>HPOConfig</code>, the tuning job works on the ranges that you provide. Otherwise, it works with the default hyperparameter ranges.</p> <p>The following recipes support HPO:</p> <ul> <li> <p>DeepAR+</p> </li> </ul>"
        },
        "TrainingParameters":{
          "shape":"TrainingParameters",
          "documentation":"<p>The training parameters to override for model training. The parameters that you can override are listed in the individual recipes in <a>aws-forecast-choosing-recipes</a>.</p>"
        },
        "EvaluationParameters":{"shape":"EvaluationParameters"},
        "HPOConfig":{
          "shape":"HyperParameterTuningJobConfig",
          "documentation":"<p>Provides hyperparameter override values for the algorithm in the specified recipe. If you don't provide this parameter, Amazon Forecast uses default values.</p>"
        },
        "InputDataConfig":{"shape":"InputDataConfig"},
        "FeaturizationConfig":{"shape":"FeaturizationConfig"},
        "EncryptionConfig":{"shape":"EncryptionConfig"}
      }
    },
    "CreatePredictorResponse":{
      "type":"structure",
      "members":{
        "PredictorArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the predictor.</p>"
        }
      }
    },
    "DataDestination":{
      "type":"structure",
      "members":{
        "S3Config":{"shape":"S3Config"}
      }
    },
    "DataSource":{
      "type":"structure",
      "members":{
        "S3Config":{"shape":"S3Config"}
      },
      "documentation":"<p>Provides information about the Amazon S3 bucket containing data you want to import to your dataset.</p>"
    },
    "DatasetGroupSummary":{
      "type":"structure",
      "members":{
        "DatasetGroupArn":{"shape":"Arn"},
        "DatasetGroupName":{"shape":"Name"},
        "CreationTime":{"shape":"Timestamp"},
        "LastModificationTime":{"shape":"Timestamp"}
      }
    },
    "DatasetGroups":{
      "type":"list",
      "member":{"shape":"DatasetGroupSummary"}
    },
    "DatasetImportJobSummary":{
      "type":"structure",
      "members":{
        "DatasetImportJobArn":{"shape":"Arn"},
        "DatasetImportJobName":{"shape":"Name"},
        "DataSource":{"shape":"DataSource"},
        "Status":{"shape":"Status"},
        "Message":{"shape":"ErrorMessage"},
        "CreationTime":{"shape":"Timestamp"},
        "LastModificationTime":{"shape":"Timestamp"}
      }
    },
    "DatasetImportJobs":{
      "type":"list",
      "member":{"shape":"DatasetImportJobSummary"}
    },
    "DatasetSummary":{
      "type":"structure",
      "members":{
        "DatasetArn":{"shape":"Arn"},
        "DatasetName":{"shape":"Name"},
        "DatasetType":{"shape":"DatasetType"},
        "Domain":{"shape":"Domain"},
        "CreationTime":{"shape":"Timestamp"},
        "LastModificationTime":{"shape":"Timestamp"}
      }
    },
    "DatasetType":{
      "type":"string",
      "enum":[
        "TARGET_TIME_SERIES",
        "RELATED_TIME_SERIES",
        "ITEM_METADATA"
      ]
    },
    "Datasets":{
      "type":"list",
      "member":{"shape":"DatasetSummary"}
    },
    "DeleteDatasetGroupRequest":{
      "type":"structure",
      "required":["DatasetGroupArn"],
      "members":{
        "DatasetGroupArn":{"shape":"Arn"}
      }
    },
    "DeleteDatasetImportJobRequest":{
      "type":"structure",
      "required":["DatasetImportJobArn"],
      "members":{
        "DatasetImportJobArn":{"shape":"Arn"}
      }
    },
    "DeleteDatasetRequest":{
      "type":"structure",
      "required":["DatasetArn"],
      "members":{
        "DatasetArn":{"shape":"Arn"}
      }
    },
    "DeleteForecastExportJobRequest":{
      "type":"structure",
      "required":["ForecastExportJobArn"],
      "members":{
        "ForecastExportJobArn":{"shape":"Arn"}
      }
    },
    "DeleteForecastRequest":{
      "type":"structure",
      "required":["ForecastArn"],
      "members":{
        "ForecastArn":{"shape":"Arn"}
      }
    },
    "DeletePredictorRequest":{
      "type":"structure",
      "required":["PredictorArn"],
      "members":{
        "PredictorArn":{"shape":"Arn"}
      }
    },
    "DescribeDatasetGroupRequest":{
      "type":"structure",
      "required":["DatasetGroupArn"],
      "members":{
        "DatasetGroupArn":{"shape":"Arn"}
      }
    },
    "DescribeDatasetGroupResponse":{
      "type":"structure",
      "members":{
        "DatasetGroupName":{
          "shape":"Name",
          "documentation":"<p>The name of the dataset group. </p>"
        },
        "DatasetGroupArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the dataset group. </p>"
        },
        "DatasetArns":{"shape":"ArnList"},
        "Status":{"shape":"Status"},
        "CreationTime":{"shape":"Timestamp"},
        "LastModificationTime":{"shape":"Timestamp"}
      }
    },
    "DescribeDatasetImportJobRequest":{
      "type":"structure",
      "required":["DatasetImportJobArn"],
      "members":{
        "DatasetImportJobArn":{"shape":"Arn"}
      }
    },
    "DescribeDatasetImportJobResponse":{
      "type":"structure",
      "members":{
        "DatasetImportJobName":{"shape":"Name"},
        "DatasetImportJobArn":{"shape":"Arn"},
        "DatasetArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the dataset. </p>"
        },
        "TimestampFormat":{"shape":"TimestampFormat"},
        "DataSource":{"shape":"DataSource"},
        "FieldStatistics":{
          "shape":"FieldStatistics",
          "documentation":"<p>Statistical information about each field in the input data. </p>"
        },
        "DataSize":{"shape":"Double"},
        "Status":{
          "shape":"Status",
          "documentation":"<p>The status of the dataset that is being refreshed: <code>CREATING</code>, <code>ACTIVE</code>, or <code>FAILED</code>. </p>"
        },
        "Message":{
          "shape":"Message",
          "documentation":"<p>If an error occurred, an informational message about the error.</p>"
        },
        "CreationTime":{"shape":"Timestamp"},
        "LastModificationTime":{
          "shape":"Timestamp",
          "documentation":"<p>The last modification time of the dataset import job.</p>"
        }
      }
    },
    "DescribeDatasetRequest":{
      "type":"structure",
      "required":["DatasetArn"],
      "members":{
        "DatasetArn":{"shape":"Arn"}
      }
    },
    "DescribeDatasetResponse":{
      "type":"structure",
      "members":{
        "DatasetArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the dataset. </p>"
        },
        "DatasetName":{
          "shape":"Name",
          "documentation":"<p>The name of the dataset.</p>"
        },
        "Domain":{
          "shape":"Domain",
          "documentation":"<p> The dataset domain. </p>"
        },
        "DatasetType":{
          "shape":"DatasetType",
          "documentation":"<p>The dataset type.</p>"
        },
        "DataFrequency":{
          "shape":"Frequency",
          "documentation":"<p>The frequency of data collection specified as a number and interval combination.</p> <p>Valid interval are M (Month), W (Week), D (Day), H (Hour), min (Minute), and S (Second). For example, \"5D\" indicates every 5 days and \"15min\" indicates every 15 minutes.</p>"
        },
        "Schema":{"shape":"Schema"},
        "EncryptionConfig":{"shape":"EncryptionConfig"},
        "Status":{
          "shape":"Status",
          "documentation":"<p> The dataset status. It reflects status of any import jobs in progress. </p>"
        },
        "CreationTime":{"shape":"Timestamp"},
        "LastModificationTime":{"shape":"Timestamp"}
      }
    },
    "DescribeForecastExportJobRequest":{
      "type":"structure",
      "required":["ForecastExportJobArn"],
      "members":{
        "ForecastExportJobArn":{"shape":"Arn"}
      }
    },
    "DescribeForecastExportJobResponse":{
      "type":"structure",
      "members":{
        "ForecastExportJobArn":{"shape":"Arn"},
        "ForecastExportJobName":{"shape":"Name"},
        "ForecastArn":{"shape":"Arn"},
        "Destination":{"shape":"DataDestination"},
        "Message":{
          "shape":"Message",
          "documentation":"<p>If the job failed, the error message.</p>"
        },
        "Status":{
          "shape":"Status",
          "documentation":"<p>The status of the job.</p>"
        },
        "CreationTime":{"shape":"Timestamp"},
        "LastModificationTime":{
          "shape":"Timestamp",
          "documentation":"<p>The last modification time of the forecast export job.</p>"
        }
      }
    },
    "DescribeForecastRequest":{
      "type":"structure",
      "required":["ForecastArn"],
      "members":{
        "ForecastArn":{"shape":"Arn"}
      }
    },
    "DescribeForecastResponse":{
      "type":"structure",
      "members":{
        "ForecastArn":{"shape":"Arn"},
        "ForecastName":{"shape":"Name"},
        "PredictorArn":{"shape":"Arn"},
        "DatasetGroupArn":{"shape":"Arn"},
        "Status":{"shape":"String"},
        "Message":{"shape":"ErrorMessage"},
        "CreationTime":{"shape":"Timestamp"},
        "LastModificationTime":{"shape":"Timestamp"}
      }
    },
    "DescribePredictorRequest":{
      "type":"structure",
      "required":["PredictorArn"],
      "members":{
        "PredictorArn":{"shape":"Arn"}
      }
    },
    "DescribePredictorResponse":{
      "type":"structure",
      "members":{
        "PredictorArn":{
          "shape":"Name",
          "documentation":"<p>The Amazon Resource Name (ARN) of the predictor.</p>"
        },
        "PredictorName":{
          "shape":"Name",
          "documentation":"<p>The name of the predictor.</p>"
        },
        "AlgorithmArn":{"shape":"Arn"},
        "ForecastHorizon":{
          "shape":"Integer",
          "documentation":"<p>The number of time-steps of the forecast. The forecast horizon is also called the prediction length.</p>"
        },
        "PerformAutoML":{"shape":"Boolean"},
        "PerformHPO":{"shape":"Boolean"},
        "TrainingParameters":{
          "shape":"TrainingParameters",
          "documentation":"<p>The training parameters to override for model training. The parameters that you can override are listed in the individual recipes in <a>aws-forecast-choosing-recipes</a>.</p>"
        },
        "EvaluationParameters":{"shape":"EvaluationParameters"},
        "HPOConfig":{"shape":"HyperParameterTuningJobConfig"},
        "InputDataConfig":{"shape":"InputDataConfig"},
        "FeaturizationConfig":{"shape":"FeaturizationConfig"},
        "EncryptionConfig":{"shape":"EncryptionConfig"},
        "DatasetImportJobArns":{"shape":"ArnList"},
        "AutoMLAlgorithmArns":{"shape":"ArnList"},
        "Status":{
          "shape":"Status",
          "documentation":"<p>The status of the predictor.</p>"
        },
        "Message":{
          "shape":"Message",
          "documentation":"<p>If the creation of the predictor failed, the error message.</p>"
        },
        "CreationTime":{"shape":"Timestamp"},
        "LastModificationTime":{
          "shape":"Timestamp",
          "documentation":"<p>The last predictor modification time stamp.</p>"
        }
      }
    },
    "Domain":{
      "type":"string",
      "enum":[
        "RETAIL",
        "CUSTOM",
        "INVENTORY_PLANNING",
        "EC2_CAPACITY",
        "WORK_FORCE",
        "WEB_TRAFFIC",
        "METRICS"
      ]
    },
    "Double":{"type":"double"},
    "EncryptionConfig":{
      "type":"structure",
      "members":{
        "RoleArn":{"shape":"Arn"},
        "KMSKeyArn":{"shape":"KMSKeyArn"}
      }
    },
    "ErrorMessage":{"type":"string"},
    "EvaluationParameters":{
      "type":"structure",
      "members":{
        "NumberOfBacktestWindows":{"shape":"Integer"},
        "BackTestWindowOffset":{"shape":"Integer"}
      }
    },
    "EvaluationResult":{
      "type":"structure",
      "members":{
        "AlgorithmArn":{"shape":"Arn"},
        "TestWindows":{"shape":"TestWindows"}
      }
    },
    "EvaluationType":{
      "type":"string",
      "enum":[
        "SUMMARY",
        "COMPUTED"
      ]
    },
    "Featurization":{
      "type":"structure",
      "required":["AttributeName"],
      "members":{
        "AttributeName":{"shape":"Name"},
        "FeaturizationPipeline":{"shape":"FeaturizationPipeline"}
      }
    },
    "FeaturizationConfig":{
      "type":"structure",
      "required":["ForecastFrequency"],
      "members":{
        "ForecastFrequency":{"shape":"Frequency"},
        "ForecastDimensions":{"shape":"ForecastDimensions"},
        "TrainingSubsampleRatio":{"shape":"Double"},
        "Featurizations":{"shape":"Featurizations"}
      }
    },
    "FeaturizationMethod":{
      "type":"structure",
      "required":["FeaturizationMethodName"],
      "members":{
        "FeaturizationMethodName":{"shape":"FeaturizationMethodName"},
        "FeaturizationMethodParameters":{"shape":"FeaturizationMethodParameters"}
      }
    },
    "FeaturizationMethodName":{
      "type":"string",
      "enum":["filling"]
    },
    "FeaturizationMethodParameters":{
      "type":"map",
      "key":{"shape":"ParameterKey"},
      "value":{"shape":"ParameterValue"},
      "max":20,
      "min":1
    },
    "FeaturizationPipeline":{
      "type":"list",
      "member":{"shape":"FeaturizationMethod"},
      "max":1,
      "min":1
    },
    "Featurizations":{
      "type":"list",
      "member":{"shape":"Featurization"},
      "max":1,
      "min":1
    },
    "FieldStatistics":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"Statistics"}
    },
    "Filter":{
      "type":"structure",
      "required":[
        "Key",
        "Value",
        "Condition"
      ],
      "members":{
        "Key":{
          "shape":"String",
          "documentation":"<p>The name of the dataset parameter to use to filter datasets. You can specify any parameter except the dataset name. </p>"
        },
        "Value":{
          "shape":"Arn",
          "documentation":"<p>The key value.</p>"
        },
        "Condition":{
          "shape":"FilterConditionString",
          "documentation":"<p>The condition to apply on the key-value pair.</p>"
        }
      },
      "documentation":"<p>Applies a filter for choosing a subset of datasets.</p>"
    },
    "FilterConditionString":{
      "type":"string",
      "enum":[
        "IS",
        "IS_NOT"
      ]
    },
    "Filters":{
      "type":"list",
      "member":{"shape":"Filter"}
    },
    "ForecastDimensions":{
      "type":"list",
      "member":{"shape":"Name"},
      "max":5,
      "min":1
    },
    "ForecastExportJobSummary":{
      "type":"structure",
      "members":{
        "ForecastExportJobArn":{"shape":"Arn"},
        "ForecastExportJobName":{"shape":"Name"},
        "Destination":{"shape":"DataDestination"},
        "Status":{"shape":"Status"},
        "Message":{"shape":"ErrorMessage"},
        "CreationTime":{"shape":"Timestamp"},
        "LastModificationTime":{"shape":"Timestamp"}
      }
    },
    "ForecastExportJobs":{
      "type":"list",
      "member":{"shape":"ForecastExportJobSummary"}
    },
    "ForecastSummary":{
      "type":"structure",
      "members":{
        "ForecastArn":{"shape":"Arn"},
        "ForecastName":{"shape":"Name"},
        "PredictorArn":{"shape":"String"},
        "DatasetGroupArn":{"shape":"String"},
        "Status":{"shape":"Status"},
        "Message":{"shape":"ErrorMessage"},
        "CreationTime":{"shape":"Timestamp"},
        "LastModificationTime":{"shape":"Timestamp"}
      }
    },
    "Forecasts":{
      "type":"list",
      "member":{"shape":"ForecastSummary"}
    },
    "Frequency":{
      "type":"string",
      "pattern":"^Y|M|W|D|H|15min|30min|1min$"
    },
    "GetAccuracyMetricsRequest":{
      "type":"structure",
      "required":["PredictorArn"],
      "members":{
        "PredictorArn":{"shape":"Arn"}
      }
    },
    "GetAccuracyMetricsResponse":{
      "type":"structure",
      "members":{
        "PredictorEvaluationResults":{"shape":"PredictorEvaluationResults"}
      }
    },
    "HyperParameterTuningJobConfig":{
      "type":"structure",
      "members":{
        "HyperParameterTuningJobObjective":{
          "shape":"HyperParameterTuningJobObjective",
          "documentation":"<p>The <code>HyperParameterTuningJobObjective</code> object that specifies the objective metric for this tuning job. </p>"
        },
        "ParameterRanges":{
          "shape":"ParameterRanges",
          "documentation":"<p>The <code>ParameterRanges</code> object that specifies the ranges of hyperparameters that this tuning job searches. </p>"
        }
      },
      "documentation":"<p>Configures a hyperparameter tuning job.</p>"
    },
    "HyperParameterTuningJobObjective":{
      "type":"structure",
      "required":[
        "MetricName",
        "Type"
      ],
      "members":{
        "MetricName":{
          "shape":"Name",
          "documentation":"<p>The name of the metric to use for the objective metric.</p>"
        },
        "Type":{
          "shape":"HyperParameterTuningJobObjectiveType",
          "documentation":"<p>Whether to minimize or maximize the objective metric.</p>"
        }
      },
      "documentation":"<p>Defines the objective metric for a hyperparameter tuning job. Hyperparameter tuning uses the value of this metric to evaluate the training jobs it launches, and returns the training job that results in either the highest or lowest value for this metric, depending on the value that you specify for the <code>Type</code> parameter. Part of the <a>HyperParameterTuningJobConfig</a> object.</p>"
    },
    "HyperParameterTuningJobObjectiveType":{
      "type":"string",
      "enum":[
        "Maximize",
        "Minimize"
      ]
    },
    "InputDataConfig":{
      "type":"structure",
      "required":["DatasetGroupArn"],
      "members":{
        "DatasetGroupArn":{"shape":"Arn"},
        "SupplementaryFeatures":{"shape":"SupplementaryFeatures"}
      }
    },
    "Integer":{"type":"integer"},
    "IntegerParameterRange":{
      "type":"structure",
      "required":[
        "Name",
        "MaxValue",
        "MinValue"
      ],
      "members":{
        "Name":{"shape":"Name"},
        "MaxValue":{"shape":"Integer"},
        "MinValue":{"shape":"Integer"}
      }
    },
    "IntegerParameterRanges":{
      "type":"list",
      "member":{"shape":"IntegerParameterRange"},
      "max":20,
      "min":1
    },
    "InvalidInputException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
      "exception":true
    },
    "InvalidNextTokenException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "exception":true
    },
    "KMSKeyArn":{
      "type":"string",
      "max":256,
      "pattern":"arn:aws:kms:.*:key/.*"
    },
    "LimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "exception":true
    },
    "ListDatasetGroupsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The number of items to return in the response.</p>"
        }
      }
    },
    "ListDatasetGroupsResponse":{
      "type":"structure",
      "members":{
        "DatasetGroups":{"shape":"DatasetGroups"},
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the response is truncated, Amazon Forecast returns this token. To retrieve the next set of results, use the token in the next request.</p>"
        }
      }
    },
    "ListDatasetImportJobsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The number of items to return in the response.</p>"
        },
        "Filters":{"shape":"Filters"}
      }
    },
    "ListDatasetImportJobsResponse":{
      "type":"structure",
      "members":{
        "DatasetImportJobs":{
          "shape":"DatasetImportJobs",
          "documentation":"<p>An array of <code>DatasetImportJobsResonseItem</code> objects, one for each job for the specified dataset.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the response is truncated, Amazon Forecast returns this token. To retrieve the next set of results, use the token in the next request. </p>"
        }
      }
    },
    "ListDatasetsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The number of items to return in the response.</p>"
        }
      }
    },
    "ListDatasetsResponse":{
      "type":"structure",
      "members":{
        "Datasets":{"shape":"Datasets"},
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the response is truncated, Amazon Forecast returns this token. To retrieve the next set of results, use the token in the next request.</p>"
        }
      }
    },
    "ListForecastExportJobsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The number of items to return in the response.</p>"
        },
        "Filters":{"shape":"Filters"}
      }
    },
    "ListForecastExportJobsResponse":{
      "type":"structure",
      "members":{
        "ForecastExportJobs":{"shape":"ForecastExportJobs"},
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p> If the response is truncated, Amazon Forecast returns this token. To retrieve the next set of results, use the token in the next request. </p>"
        }
      }
    },
    "ListForecastsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The number of items to return in the response.</p>"
        },
        "Filters":{"shape":"Filters"}
      }
    },
    "ListForecastsResponse":{
      "type":"structure",
      "members":{
        "Forecasts":{"shape":"Forecasts"},
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the response is truncated, Amazon Forecast returns this token. To retrieve the next set of results, use the token in the next request.</p>"
        }
      }
    },
    "ListPredictorsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The number of items to return in the response.</p>"
        },
        "Filters":{"shape":"Filters"}
      }
    },
    "ListPredictorsResponse":{
      "type":"structure",
      "members":{
        "Predictors":{"shape":"Predictors"},
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the response is truncated, Amazon Forecast returns this token. To retrieve the next set of results, use the token in the next request.</p>"
        }
      }
    },
    "MaxResults":{
      "type":"integer",
      "max":100,
      "min":1
    },
    "Message":{"type":"string"},
    "Metrics":{
      "type":"structure",
      "members":{
        "RMSE":{"shape":"Double"},
        "WeightedQuantileLosses":{"shape":"WeightedQuantileLosses"}
      }
    },
    "Name":{
      "type":"string",
      "max":63,
      "min":1,
      "pattern":"^[a-zA-Z0-9][a-zA-Z0-9_]*"
    },
    "NextToken":{
      "type":"string",
      "max":3000,
      "min":1
    },
    "ParameterKey":{
      "type":"string",
      "max":256,
      "pattern":"^[a-zA-Z0-9\\-\\_\\.\\/\\[\\]\\,\\\\]+$"
    },
    "ParameterRanges":{
      "type":"structure",
      "members":{
        "CategoricalParameterRanges":{
          "shape":"CategoricalParameterRanges",
          "documentation":"<p>The array of <code>CategoricalParameterRange</code> objects that specify ranges of categorical hyperparameters that a hyperparameter tuning job searches. </p>"
        },
        "ContinuousParameterRanges":{
          "shape":"ContinuousParameterRanges",
          "documentation":"<p>The array of <code>ContinuousParameterRange</code> objects that specify ranges of continuous hyperparameters that a hyperparameter tuning job searches. </p>"
        },
        "IntegerParameterRanges":{
          "shape":"IntegerParameterRanges",
          "documentation":"<p>The array of <code>IntegerParameterRange</code> objects that specify ranges of integer hyperparameters that a hyperparameter tuning job searches. </p>"
        }
      },
      "documentation":"<p>Specifies the ranges of integer, continuous, and categorical hyperparameters that a hyperparameter tuning job searches over. Part of the <a>HyperParameterTuningJobConfig</a> object. </p>"
    },
    "ParameterValue":{
      "type":"string",
      "max":256,
      "pattern":"^[a-zA-Z0-9\\-\\_\\.\\/\\[\\]\\,\\\"\\\\\\s]+$"
    },
    "PredictorEvaluationResults":{
      "type":"list",
      "member":{"shape":"EvaluationResult"}
    },
    "PredictorSummary":{
      "type":"structure",
      "members":{
        "PredictorArn":{"shape":"Arn"},
        "PredictorName":{"shape":"Name"},
        "DatasetGroupArn":{"shape":"Arn"},
        "Status":{"shape":"Status"},
        "Message":{"shape":"ErrorMessage"},
        "CreationTime":{"shape":"Timestamp"},
        "LastModificationTime":{"shape":"Timestamp"}
      }
    },
    "Predictors":{
      "type":"list",
      "member":{"shape":"PredictorSummary"}
    },
    "ResourceAlreadyExistsException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>There is already a resource with this name and characteristics. Try again with different settings. </p>",
      "exception":true
    },
    "ResourceInUseException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "exception":true
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>We can't find a resource with that name. Check the name and try again.</p>",
      "exception":true
    },
    "S3Config":{
      "type":"structure",
      "members":{
        "Path":{"shape":"S3Path"},
        "RoleArn":{"shape":"Arn"},
        "KMSKeyArn":{"shape":"KMSKeyArn"}
      }
    },
    "S3Path":{
      "type":"string",
      "pattern":"^s3://.+$"
    },
    "Schema":{
      "type":"structure",
      "members":{
        "Attributes":{
          "shape":"SchemaAttributes",
          "documentation":"<p>An array of objects. Each object provides information abut a schema attribute, including name, type, and configuration parameters. </p>"
        }
      },
      "documentation":"<p>Provides information about the dataset schema. </p>"
    },
    "SchemaAttribute":{
      "type":"structure",
      "members":{
        "AttributeName":{
          "shape":"Name",
          "documentation":"<p>The name of the data field. This is required for every field in a schema. Amazon Forecast reserves a number of names that cannot be used as the name of a schema field or a dataset header. For the list of reserved names, see <a href=\"https://docs.aws.amazon.com/forecast/latest/dg/reserved-field-names.html\">Reserved Field Names</a>.</p>"
        },
        "AttributeType":{
          "shape":"AttributeType",
          "documentation":"<p>The data type of the field. This is required for every field in a schema.</p>"
        }
      },
      "documentation":"<p>Provides information about a data field, including its name, type, and configuration parameters that specify how to process the data in the corresponding column. </p>"
    },
    "SchemaAttributes":{
      "type":"list",
      "member":{"shape":"SchemaAttribute"}
    },
    "Statistics":{
      "type":"structure",
      "members":{
        "Count":{
          "shape":"Integer",
          "documentation":"<p>The number of values in the field. </p>"
        },
        "CountDistinct":{
          "shape":"Integer",
          "documentation":"<p>The number of distinct values in the field. </p>"
        },
        "CountNull":{
          "shape":"Integer",
          "documentation":"<p>The number of null values in the field. </p>"
        },
        "CountNan":{
          "shape":"Integer",
          "documentation":"<p>The number of NAN values in the field.</p>"
        },
        "Min":{
          "shape":"String",
          "documentation":"<p>For a numeric field, the minimum value in the field.</p>"
        },
        "Max":{
          "shape":"String",
          "documentation":"<p>For a numeric field, the maximum value in the field.</p>"
        },
        "Avg":{
          "shape":"Double",
          "documentation":"<p>For a numeric field, the average value in the field.</p>"
        },
        "Stddev":{
          "shape":"Double",
          "documentation":"<p>For a numeric field, the standard deviation. </p>"
        }
      },
      "documentation":"<p>Provides statistics for each data field in the data imported to an Amazon Forecast dataset with the <a>CreateDatasetImportJob</a> operation. </p>"
    },
    "Status":{
      "type":"string",
      "max":256
    },
    "String":{
      "type":"string",
      "max":256,
      "pattern":"^[a-zA-Z0-9\\_]+$"
    },
    "SupplementaryFeature":{
      "type":"structure",
      "required":[
        "Name",
        "Value"
      ],
      "members":{
        "Name":{"shape":"Name"},
        "Value":{"shape":"Value"}
      }
    },
    "SupplementaryFeatures":{
      "type":"list",
      "member":{"shape":"SupplementaryFeature"},
      "max":1,
      "min":1
    },
    "TestWindows":{
      "type":"list",
      "member":{"shape":"WindowSummary"}
    },
    "Timestamp":{"type":"timestamp"},
    "TimestampFormat":{
      "type":"string",
      "max":256,
      "pattern":"^[a-zA-Z0-9\\-\\:\\.\\,\\'\\s]+$"
    },
    "TrainingParameters":{
      "type":"map",
      "key":{"shape":"ParameterKey"},
      "value":{"shape":"ParameterValue"},
      "max":100,
      "min":0
    },
    "UpdateDatasetGroupRequest":{
      "type":"structure",
      "required":[
        "DatasetGroupArn",
        "DatasetArns"
      ],
      "members":{
        "DatasetGroupArn":{"shape":"Arn"},
        "DatasetArns":{"shape":"ArnList"}
      }
    },
    "UpdateDatasetGroupResponse":{
      "type":"structure",
      "members":{
      }
    },
    "Value":{
      "type":"string",
      "max":256,
      "pattern":"^[a-zA-Z0-9\\_\\-]+$"
    },
    "Values":{
      "type":"list",
      "member":{"shape":"Value"},
      "max":20,
      "min":1
    },
    "WeightedQuantileLoss":{
      "type":"structure",
      "members":{
        "Quantile":{"shape":"Double"},
        "LossValue":{"shape":"Double"}
      }
    },
    "WeightedQuantileLosses":{
      "type":"list",
      "member":{"shape":"WeightedQuantileLoss"}
    },
    "WindowSummary":{
      "type":"structure",
      "members":{
        "TestWindowStart":{"shape":"Timestamp"},
        "TestWindowEnd":{"shape":"Timestamp"},
        "ItemCount":{"shape":"Integer"},
        "EvaluationType":{"shape":"EvaluationType"},
        "Metrics":{"shape":"Metrics"}
      }
    }
  },
  "documentation":"<p>Provides APIs for creating and managing Amazon Forecast resources.</p>"
}
